<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WeatherToday.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>WeatherTodayManageKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49EB958E1B438F540039D9D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49EB95A31B438F540039D9D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49EB95C81B43F0CE0039D9D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49EB95D21B43F0CE0039D9D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
